/* all */


.app{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hide {
    height: 0 !important;
    padding-bottom: 0 !important;
}

/*---------- header -------------*/
h1{
    font-size: 46px;
}

.header{
    background-color: var(--header-bg);
    color: var(--header-color);
    height: 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 3%;
}

.headerLeft{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;
}
  
.headerRight{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.roomSettings{
    position: absolute;
    right: 5%;
    top: 105px;
    background-color: var(--roomSettings-bg);
    overflow: hidden;
}

.roomSettings li{
    margin: 1rem;
}
.gap{
    margin-right: 1rem;
}

.inviteSettings{
    text-align: center;
    position: absolute;
    right: 0;
    top: 105px;
    width: 100px;
    height: 50px;
    background-color: var(--inviteSettings-bg);
    overflow: hidden;
}

.inviteSettings button{
    margin: 10px;
}
/*---------- body -------------*/

.body{
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: var(--body-bg);
}

/*---------- body-left -------------*/
.bodyLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video{
    margin: 1rem 1rem 0 1rem;
    width: 50vw;
    height: 60vh;
}

.youtube{
    height: 100%;
    width: 100%;
}
.search{
    display: flex;
    margin: .2rem 0 0 1rem;
    width: 50vw;
    height: 40px;
    border-bottom-color: var(--search-border-bottom-color);
    border-bottom-style: solid;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.search input{
    width: 47vw;
    margin-left: 1.5rem;
    background-color: var(--searchInput-bg);
    color: var(--searchInput-color);
}

::placeholder { 
    color: var(--placeholder-color);
    font-weight: bold;
    opacity: 1;
  }

textarea:focus, input:focus{
    outline: none;
}

input{
    border-style: none;
}
.roomInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 1rem;
    bottom: 0;
    width: 50vw;
}

.infoHeader{
    cursor: pointer;
    text-align: center;
    background-color: var(--infoHeader-bg);
    color: var(--infoHeader-color);
    padding: 10px;
    width: 150px;
    border-radius: 5px 5px 0 0;
}
.infoBody{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--infoBody-color);
    transition: all 0.4s ease-in-out;
    background-color: var(--infoBody-bg);
    width: 100%;
    height: 14vh;
}
/*---------- body-right -------------*/

.bodyRight{
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;
}

.chat{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.chatHeader{
    cursor: pointer;
    color: var(--chatHeader-color);
    background-color: var(--chatHeader-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    height: 45px;
    padding: 10px;
    width: 100%;
}

.chatBody{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    color: #fff;
    overflow: auto;
    transition: all 0.4s ease-in-out;
    height: 370px;
    background-color: var(--chatBody-bg);
    flex-direction: column;
    padding-bottom: 10px;
}

.chatContainerInput{
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    height: 50px;
    background-color: var(--chatContainerInput-bg);
}

.chatInput{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background-color: var(--chatInput-bg);
    height: 35px;
    width: 90%;
}

.chatInput input{
    margin-right: 5px;
    width: 265px;
}

.messageContainer{
    max-width: 250px;
    width: fit-content;
    background-color: rgb(0, 0, 0);
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 7px;
    align-self: start;
  }
  

.myMessage {
    margin-right: 10px;
    align-self: end;
    background-color: rgb(153, 153, 153);
}

.messageTimestamp {
    font-size: 0.7rem;
    margin-top: 3px;
  }