.card{
    position:relative;
    border-radius: 10px;
    border: 1.5px solid var(--membro);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-bg);
}
.avatar{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.userNome{
    word-wrap: break-word;
    overflow-y: hidden;
    text-align: center;
    border-radius: 0 0 10px 10px;
    width: 100px;
    height: 20px;
    background-color: var(--membro);
}

.cardAdmin{
    border-radius: 10px;
    border: 1.5px solid var(--admin);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-bg);
}
.userNomeAdmin{
    overflow-y: hidden;
    text-align: center;
    border-radius: 0 0 10px 10px;
    width: 100px;
    height: 20px;
    background-color: var(--admin);
}

.card button{
    position: absolute;
    right: 6px;
    font-size: 20px;
}